.courses{
    display: flex;
    border: 1px solid;
    justify-content: center;
    position: relative;
    left: 10% ;
    width: 80%;
}
.card{
    margin: 1%;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    left: 15%;
    justify-content: space-around;
}
.dsc{
    display: flex;
    align-items: center;
    width: 40%;
}
.descImg{
    width: 60%;
}